.loading-card-page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: repeating-linear-gradient(45deg, rgba(118, 118, 118, 0.05) 0px, rgba(118, 118, 118, 0.05) 19px,rgba(59, 59, 59, 0.05) 19px, rgba(59, 59, 59, 0.05) 67px,rgba(195, 195, 195, 0.05) 67px, rgba(195, 195, 195, 0.05) 87px,rgba(121, 121, 121, 0.05) 87px, rgba(121, 121, 121, 0.05) 133px,rgba(250, 250, 250, 0.05) 133px, rgba(250, 250, 250, 0.05) 172px,rgba(106, 106, 106, 0.05) 172px, rgba(106, 106, 106, 0.05) 197px,rgba(151, 151, 151, 0.05) 197px, rgba(151, 151, 151, 0.05) 226px,rgba(219, 219, 219, 0.05) 226px, rgba(219, 219, 219, 0.05) 260px),repeating-linear-gradient(45deg, rgba(70, 70, 70, 0.05) 0px, rgba(70, 70, 70, 0.05) 40px,rgba(220, 220, 220, 0.05) 40px, rgba(220, 220, 220, 0.05) 79px,rgba(95, 95, 95, 0.05) 79px, rgba(95, 95, 95, 0.05) 103px,rgba(15, 15, 15, 0.05) 103px, rgba(15, 15, 15, 0.05) 148px,rgba(51, 51, 51, 0.05) 148px, rgba(51, 51, 51, 0.05) 186px,rgba(225, 225, 225, 0.05) 186px, rgba(225, 225, 225, 0.05) 202px,rgba(60, 60, 60, 0.05) 202px, rgba(60, 60, 60, 0.05) 239px,rgba(67, 67, 67, 0.05) 239px, rgba(67, 67, 67, 0.05) 259px),repeating-linear-gradient(45deg, rgba(146, 146, 146, 0.05) 0px, rgba(146, 146, 146, 0.05) 40px,rgba(166, 166, 166, 0.05) 40px, rgba(166, 166, 166, 0.05) 54px,rgba(156, 156, 156, 0.05) 54px, rgba(156, 156, 156, 0.05) 71px,rgba(134, 134, 134, 0.05) 71px, rgba(134, 134, 134, 0.05) 95px,rgba(77, 77, 77, 0.05) 95px, rgba(77, 77, 77, 0.05) 111px,rgba(26, 26, 26, 0.05) 111px, rgba(26, 26, 26, 0.05) 153px,rgba(46, 46, 46, 0.05) 153px, rgba(46, 46, 46, 0.05) 202px,rgba(197, 197, 197, 0.05) 202px, rgba(197, 197, 197, 0.05) 216px),linear-gradient(90deg, rgb(30, 178, 248),rgb(46, 36, 197));
}

.loading-card {
    max-width: 350px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 30px;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.189);
}

.loading-card .loading-header {
    display: flex;
    align-items: center;
}

.loading-card .loading-header .loading-img {
    height: 70px;
    width: 70px;
    background-color: #d9d9d9;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.loading-header .details {
    margin-left: 20px;
}

.loading-header span {
    background-color: #d9d9d9;
    display: block;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.loading-header .details .name {
    width: 100px;
    height: 15px;
}

.loading-header .details .about {
    width: 150px;
    height: 13px;
    margin-top: 10px;
}

.loading-card .loading-content {
    margin: 25px 0;
}

.loading-content .line {
    background-color: #d9d9d9;
    height: 13px;
    border-radius: 10px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.loading-content .line-1 {
    width: calc(100% - 15%);

}

.loading-content .line-3 {
    width: calc(100% - 40%);
}

.loading-card .loading-btns {
    display: flex;
}

.loading-btns .btn {
    width: 100%;
    height: 45px;
    background-color: #d9d9d9;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.loading-btns .btn-1 {
    margin-right: 8px;
}

.loading-btns .btn-2 {
    margin-left: 8px;
}

.loading-card .loading-img::before,
.loading-card .details span::before,
.loading-content .line::before,
.loading-btns .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0, 0, 0, 0.2) 20%, #d9d9d9 40%, #d9d9d9 100%);
    background-size: 450px 400px;
    background-repeat: no-repeat;
    animation: shimmer 1s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: -450px 0;
    }

    100% {
        background-position: 450px 0;
    }
}