:root {
    --loading-frist-color: hsl(231, 44%, 56%);
    --loading-frist-alt: hsl(231, 44%, 51%);
    --loading-text-color: hsl(231, 12%, 98%);
    --loading-body-color: hsl(231, 12%, %);
}

.loading-border-card-page {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(55, 55, 55);
}

.loading-border-box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0 18px 40px hsla(231, 56%, 56%, .3); */
}

.loading-border-box::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 140%;
    background: linear-gradient(#ff0000,#ffd900);
    box-shadow: 0 0 20px rgb(8, 8, 8);
    animation: animate 3s linear infinite;
}

.loading-border-box::after {
    content: '';
    position: absolute;
    inset: 10px;
    background: #343434;
    border-radius: 16px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-border-loader {
    position: relative;
    width: 280px;
    height: 380px;
    border-radius: 16px;
    background: var(--loading-frist-color);
    font-size: 1.5em;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: wait;
}

.loading-border-loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: repeating-linear-gradient(60deg,
            transparent,
            transparent 3rem,
            /* Increased this value for thicker transparent stripes */
            var(--loading-frist-alt) 3rem,
            var(--loading-frist-alt) 6rem
            /* Increased this value for thicker colored stripes */
        );

    animation: loader 1s linear infinite;
}

.loading-border-text {
    position: relative;
    color: #fff;
    font-weight: 600;
}

@keyframes loader {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-7rem);
    }
}