.subcard-popup-container {
    display: grid;
    place-items: center;
    color: #222;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(51, 148, 144,0.2) 0%, rgba(51, 148, 144,0.2) 16.667%,rgba(56, 109, 229,0.2) 16.667%, rgba(56, 109, 229,0.2) 33.334%,rgba(48, 168, 101,0.2) 33.334%, rgba(48, 168, 101,0.2) 50.001%,rgba(43, 207, 16,0.2) 50.001%, rgba(43, 207, 16,0.2) 66.668%,rgba(46, 187, 59,0.2) 66.668%, rgba(46, 187, 59,0.2) 83.335%,rgba(53, 129, 186,0.2) 83.335%, rgba(53, 129, 186,0.2) 100.002%),linear-gradient(135deg, rgba(51, 148, 144,0.2) 0%, rgba(51, 148, 144,0.2) 16.667%,rgba(56, 109, 229,0.2) 16.667%, rgba(56, 109, 229,0.2) 33.334%,rgba(48, 168, 101,0.2) 33.334%, rgba(48, 168, 101,0.2) 50.001%,rgba(43, 207, 16,0.2) 50.001%, rgba(43, 207, 16,0.2) 66.668%,rgba(46, 187, 59,0.2) 66.668%, rgba(46, 187, 59,0.2) 83.335%,rgba(53, 129, 186,0.2) 83.335%, rgba(53, 129, 186,0.2) 100.002%),linear-gradient(90deg, rgba(51, 148, 144,0.2) 0%, rgba(51, 148, 144,0.2) 16.667%,rgba(56, 109, 229,0.2) 16.667%, rgba(56, 109, 229,0.2) 33.334%,rgba(48, 168, 101,0.2) 33.334%, rgba(48, 168, 101,0.2) 50.001%,rgba(43, 207, 16,0.2) 50.001%, rgba(43, 207, 16,0.2) 66.668%,rgba(46, 187, 59,0.2) 66.668%, rgba(46, 187, 59,0.2) 83.335%,rgba(53, 129, 186,0.2) 83.335%, rgba(53, 129, 186,0.2) 100.002%),linear-gradient(90deg, rgb(51, 227, 248),rgb(81, 163, 97));
}

.subcard_card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    row-gap: 4rem;
    margin: 0;
    padding: 0;
}

.card_article {
    position: relative;
    overflow: hidden;

}

.card_article .card_img {
    position: relative;
    width: 350px;
    height: 255px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    background: #033181;
    border-radius: 1.5rem;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}


.card_article .card_content {
    width: 220px;
    background: #eee;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;

}

.card_content .card_description {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

.card_content .card_title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.card_content .card_link {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: #00b3ff;
}

.card_content .card_link:hover {
    text-decoration: underline;
}

.card_article:hover .card_content {
    animation: show-content 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card_article:hover {
    animation: remove-overflow 2s forwards;
}

.card_article:not(:hover){
    animation: show-overflow 2s forwards;
}

.card_article:not(:hover) .card_content {
    animation: remove-content 1s forwards;
    /* opacity: 0; */
}

@keyframes show-content {
    50% {
        transform: translateY(-12rem);
    }

    100% {
        transform: translateY(-7rem);
    }

}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-content {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-12rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }

}